
.counter-bg{
    color: white;/* 
    background: rgb(0, 37, 92); */
}
.numbers-numbers-headline{
    position: relative;
    padding-bottom: 20px;
}
.numbers-numbers-headline::before{
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 50px);
}
.numbers-numbers-headline::after{
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 17.5px);
}