.allblogs-bg {
    background: rgb(0, 54, 126);
    color: white;
    min-height: 800px;
    background: rgb(0, 41, 102);
}

.bolg-dev-dev {
    box-shadow: rgba(0, 0, 0, 0.493) 0px 3px 6px, rgba(0, 0, 0, 0.596) 0px 3px 6px;
    border-radius: 5px;
    transition: .4s;
}

.bolg-dev-dev:hover{
    transform: translateY(-20px);
}

.bolg-read-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bolg-read-more button:hover {
    grid-gap: 15px;
}

.bolg-read-more button {
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: bold;
    padding: 0 13px;
    color: rgb(255, 255, 255);
    height: 40px;
    min-width: 140px;
    background: rgb(0, 54, 126);
    border-radius: 50px;
    margin-bottom: 15px;
    border: 2px solid white;
}