.home-bg {
   background: url('https://abdullahalmasud1.netlify.app/assets/img/hero-bg.jpg') no-repeat top right;
   height: 100vh;
   width: 100%;
   background-size: cover;
   position: relative;
   display: flex;
   align-items: center;
}

.home-bg:before {
   content: " ";
   background: rgba(36, 60, 119, 0.516);
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
}

.home-down-bg {
   background-color: rgb(12, 20, 84);
}

.home-my-name {
   position: absolute;
   bottom: 0;
   font-family: Lucida Bright;
   color: rgba(0, 64, 184, 0.452);
   -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.home-my-title {
   font-family: Lucida Bright;
   color: rgb(1, 46, 193);
   -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.home-my-title>span {
   color: rgba(0, 16, 162, 0.997);
   -webkit-text-stroke: 1px rgb(198, 198, 198);
}

.homeSocialIcon>a {
   transition: .4s;
}

.homeSocialIcon>a:hover {
   transform: translateY(-10px);
}

.resume-download-btn {
   padding: 8px 25px;
}

.resumeIconAnimation>a>button {
   transition: .4s;
}

.resumeIconAnimation>a>button:hover {
   transform: translateY(-10px);
}


/* -------------header style start------------- */
.header-bg {
   /*  background: transparent; */
   background: rgba(0, 30, 112, 0.918);
   /* box-shadow: rgba(114, 114, 167, 0.582) 0px 1px 0px; */
}

.navber-name {
   color: rgb(0, 21, 92) !important;
   -webkit-text-stroke: .5px rgb(255, 255, 255);
   font-size: x-large;
   font-weight: bold;
   font-family: 'Playfair Display', serif;
}

.navber-name:hover {
   color: rgb(255, 255, 255);
}

/* -------------header style end------------- */