
.skills-icon{
    display: flex;
    justify-content: center;
    grid-gap: 20px 10px;

}
.skills-skills-img{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 170px;
    height: 170px;
    margin: auto;
    padding: 20px;
    background: rgba(2, 11, 39, 0);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 4px; 
    transition: .5s;
}
.skills-skills-img:hover{
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   transform: scale(1.1);

}
.skills-skills-img img{
   width: 120px;
   height: 120px;
}
@media screen and (min-width:1200px) {
   .skills-icon{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
   }
}
@media screen and (max-width:1199px) {
   .skills-icon{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
   }
}
@media screen and (max-width:991px) {
   .skills-icon{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
}
@media screen and (max-width:767px) {
   .skills-icon{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
}
@media screen and (max-width:575px) {
   .skills-icon{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

}
@media screen and (max-width:365px) {
   .skills-icon{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

}

/* -----------skills icon-------- */

/* -----------skills icon-------- */
























/* .progress-section{text-align: center; padding: 80px 0px; background: #30303000;}
.progress-section h1{ margin-bottom:70px; color:#fff;}

.progress-bars{ margin: auto; background: #fff; width: 120px; height: 120px; transform: rotate(45deg); position: relative;}
.progress-bars h2 { line-height: 120px; text-align: center; transform: rotate(-45deg);}
.progress-bars:before{position: absolute; content: ""; border: solid 5px #595959; border-width: 5px 0px 0px 5px; width: 30px; height: 30px; top: -9px; left: -9px; bottom: -9px; right: -9px; z-index: 10;}
.progress-bars:after{position: absolute; content: ""; border: solid 5px #2bb0ef; border-width: 5px 5px 5px 5px; width: 140px; height: 140px; top: -9px; left: -9px; bottom: -9px; right: -9px;}


.progress-bars-four{ margin: auto; background: #fff; width: 120px; height: 120px; transform: rotate(45deg); position: relative;}
.progress-bars-four h2 { line-height: 120px; text-align: center; transform: rotate(-45deg);}
.progress-bars-four:before{position: absolute; content: ""; border: solid 5px #595959; border-width: 5px 0px 0px 5px; width: 30px; height: 30px; top: -9px; left: -9px; bottom: -9px; right: -9px; z-index: 10;}
.progress-bars-four:after{position: absolute; content: ""; border: solid 5px #2bb0ef; border-width: 5px 5px 5px 5px; width: 140px; height: 140px; top: -9px; left: -9px; bottom: -9px; right: -9px;}



.progress-bars-six{ margin: auto; background: #fff; width: 120px; height: 120px; transform: rotate(45deg); position: relative;}
.progress-bars-six h2 { line-height: 120px; text-align: center; transform: rotate(-45deg);}
.progress-bars-six:before{position: absolute; content: ""; border: solid 5px #595959; border-width: 5px 0px 0px 5px; width: 90px; height: 90px; top: -9px; left: -9px; bottom: -9px; right: -9px; z-index: 10;}
.progress-bars-six:after{position: absolute; content: ""; border: solid 5px #2bb0ef; border-width: 5px 5px 5px 5px; width: 140px; height: 140px; top: -9px; left: -9px; bottom: -9px; right: -9px;}


.progress-bars-seven{ margin: auto; background: #fff; width: 120px; height: 120px; transform: rotate(45deg); position: relative;}
.progress-bars-seven h2 { line-height: 120px; text-align: center; transform: rotate(-45deg);}
.progress-bars-seven:before{position: absolute; content: ""; border: solid 5px #595959; border-width: 5px 0px 0px 5px; width: 70px; height: 70px; top: -9px; left: -9px; bottom: -9px; right: -9px; z-index: 10;}
.progress-bars-seven:after{position: absolute; content: ""; border: solid 5px #2bb0ef; border-width: 5px 5px 5px 5px; width: 140px; height: 140px; top: -9px; left: -9px; bottom: -9px; right: -9px;}
 */